

@media only screen and (max-width: 767px){

  .detail__container--margin{
    background-color: $general-white;
    padding: 32px;
  }
}
@media only screen and (min-width: 768px){
  .detail__container--margin{
    background-color: $general-white;
    margin: 0 64px 0 64px;
    padding: 32px;
  }
}



.detail__main-info{
  display: flex;
  flex-direction: column;
}

.detail__description--title {
  font-size: 28px;
  margin-top: 16px;

}

.detail__description--content {
  font-size: 16px;
  margin: 32px 0;

}

.detail__aditional-info {
  display: flex;
  flex-direction: column;
}

.detail__aditional-info--header {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 32px 0px 14px 0px;

}


.detail__price--container{
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}


.detail__condition--text{
  font-size: 14px;
}

.detail__cuantity--text{
  font-size: 14px;
}

.detail__title--text{
  font-size: 24px;
  font-weight: normal;

}

.detail__amount--text{
  font-size: 46px;
}

.detail__decimal--text{
  font-size: 24px;
}

.detail__button--decoration {
  background-color: $meli-blue;
  padding: 10px;
  border: 2px solid $meli-blue;
  border-radius: 4px;
  color: $general-white;

}