@import "variables";


.result__container--margin{
    background-color: $general-white;
    margin: 32px 64px 32px 64px;
    padding: 16px;
}


.card__amount--text{
    padding: 16px 0 32px 0;
    font-size: 18px;
}

.card__title--text{
    font-size: 24px;
    //word-wrap: break-word;
}

.card__location--text{
    padding-top: 32px;
    font-size: 12px;
}
