.home__container {
  background-image: url("../images/fondo_home.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 100px;
  padding-top: 100px;


  font-family: "Brush Script MT", cursive;
  font-size: 50px;
}